# Ignore the usual stuff
venv
*.pyc
.DS_Store
.env
*.xml
*.iml

# Ignore secret! (if they exist)
secret

# Ignore all notebooks # Nah... Keep...
# Notebooks
.ipynb_checkpoints

# Ignore output from notebooks
Notebooks/output

# Ignore data from v2 (real)
v2/data
